In [8]:
import pandas as pd
import polars as pl
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import Image

In [9]:
Image(url="desafio_fase.png", width=1000, height=800)

In [10]:
# dataset_pd = pd.read_csv('../../Data/Visualizacao Dados/Fase 1/winequality-red.csv', sep=';')
dataset_pl = pl.read_csv('../../Data/Visualizacao Dados/Fase 1/winequality-red.csv', separator=';', ignore_errors=True)
dataset_pl.head

<bound method DataFrame.head of shape: (1_599, 12)
┌────────────┬────────────┬─────────────┬──────────┬───┬──────┬───────────┬─────────┬─────────┐
│ fixed      ┆ volatile   ┆ citric acid ┆ residual ┆ … ┆ pH   ┆ sulphates ┆ alcohol ┆ quality │
│ acidity    ┆ acidity    ┆ ---         ┆ sugar    ┆   ┆ ---  ┆ ---       ┆ ---     ┆ ---     │
│ ---        ┆ ---        ┆ f64         ┆ ---      ┆   ┆ f64  ┆ f64       ┆ f64     ┆ i64     │
│ f64        ┆ f64        ┆             ┆ f64      ┆   ┆      ┆           ┆         ┆         │
╞════════════╪════════════╪═════════════╪══════════╪═══╪══════╪═══════════╪═════════╪═════════╡
│ 7.4        ┆ 0.7        ┆ 0.0         ┆ 1.9      ┆ … ┆ 3.51 ┆ 0.56      ┆ 9.4     ┆ 5       │
│ 7.8        ┆ 0.88       ┆ 0.0         ┆ 2.6      ┆ … ┆ 3.2  ┆ 0.68      ┆ 9.8     ┆ 5       │
│ 7.8        ┆ 0.76       ┆ 0.04        ┆ 2.3      ┆ … ┆ 3.26 ┆ 0.65      ┆ 9.8     ┆ 5       │
│ 11.2       ┆ 0.28       ┆ 0.56        ┆ 1.9      ┆ … ┆ 3.16 ┆ 0.58      ┆ 9.8     ┆ 6       │
│ …          ┆ …          ┆ …           ┆ …        ┆ … ┆ …    ┆ …         ┆ …       ┆ …       │
│ 5.9        ┆ 0.55       ┆ 0.1         ┆ 2.2      ┆ … ┆ 3.52 ┆ 0.76      ┆ 11.2    ┆ 6       │
│ 6.3        ┆ 0.51       ┆ 0.13        ┆ 2.3      ┆ … ┆ 3.42 ┆ 0.75      ┆ 11.0    ┆ 6       │
│ 5.9        ┆ 0.645      ┆ 0.12        ┆ 2.0      ┆ … ┆ 3.57 ┆ 0.71      ┆ 10.2    ┆ 5       │
│ 6.0        ┆ 0.31       ┆ 0.47        ┆ 3.6      ┆ … ┆ 3.39 ┆ 0.66      ┆ 11.0    ┆ 6       │
└────────────┴────────────┴─────────────┴──────────┴───┴──────┴───────────┴─────────┴─────────┘>

In [4]:
dataset_pl.columns

['fixed acidity',
 'volatile acidity',
 'citric acid',
 'residual sugar',
 'chlorides',
 'free sulfur dioxide',
 'total sulfur dioxide',
 'density',
 'pH',
 'sulphates',
 'alcohol',
 'quality']

In [5]:
dataset_pd = pd.DataFrame(dataset_pl, columns=dataset_pl.columns)
dataset_pd.head(5)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5.0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5.0
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5.0
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6.0
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5.0

In [6]:
dataset_pd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1595 non-null   float64
 6   total sulfur dioxide  1597 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   float64
dtypes: float64(12)
memory usage: 150.0 KB

In [7]:
dataset_pd.isnull().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     4
total sulfur dioxide    2
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [8]:
dataset_pd[dataset_pd['free sulfur dioxide'].isnull()]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
354,6.1,0.210,0.40,1.4,0.066,NaN,165.0,0.99120,3.25,0.59,11.9,6.0
776,6.9,0.765,0.18,2.4,0.243,NaN,48.0,0.99612,3.40,0.60,10.3,6.0
1079,7.9,0.300,0.68,8.3,0.050,NaN,278.0,0.99316,3.01,0.51,12.3,7.0
1081,7.9,0.300,0.68,8.3,0.050,NaN,289.0,0.99316,3.01,0.51,12.3,7.0

In [9]:
dataset_pd[dataset_pd['total sulfur dioxide'].isnull()]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1295,6.6,0.63,0.0,4.3,0.093,51.0,NaN,0.99558,3.2,0.45,9.5,5.0
1296,6.6,0.63,0.0,4.3,0.093,51.0,NaN,0.99558,3.2,0.45,9.5,5.0

In [10]:
dataset_pd.dropna(subset = ['free sulfur dioxide'], inplace = True)
dataset_pd.dropna(subset = ['total sulfur dioxide'], inplace = True)
dataset_pd.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1593 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1593 non-null   float64
 1   volatile acidity      1593 non-null   float64
 2   citric acid           1593 non-null   float64
 3   residual sugar        1593 non-null   float64
 4   chlorides             1593 non-null   float64
 5   free sulfur dioxide   1593 non-null   float64
 6   total sulfur dioxide  1593 non-null   float64
 7   density               1593 non-null   float64
 8   pH                    1593 non-null   float64
 9   sulphates             1593 non-null   float64
 10  alcohol               1593 non-null   float64
 11  quality               1593 non-null   float64
dtypes: float64(12)
memory usage: 161.8 KB

In [12]:
dataset_pd.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1593.000000,1593.000000,1593.000000,1593.000000,1593.000000,1593.000000,1593.000000,1593.000000,1593.000000,1593.000000,1593.000000,1593.000000
mean,8.324608,0.528029,0.270778,2.530163,0.087422,15.794727,46.055869,0.996757,3.311613,0.658675,10.420935,5.634652
std,1.741987,0.178902,0.194351,1.396028,0.046970,10.355426,31.707303,0.001881,0.154234,0.169569,1.064447,0.807225
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997850,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,160.000000,1.003690,4.010000,2.000000,14.900000,8.000000

# adicionar dados de região?