# Creating New Column in PySpark DataFrame

## Installing Libraries

In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.4.1.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 4.1 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.1-py2.py3-none-any.whl size=311285398 sha256=9d5e11cdda8c083c4d6eb0805f2784034981f8e4973d28bf226c6ddba9174b07
  Stored in directory: /root/.cache/pip/wheels/0d/77/a3/ff2f74cc9ab41f8f594dabf0579c2a7c6de920d584206e0834
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.1

## Importing the Libraries

In [2]:
from pyspark.sql import SparkSession

## Creating Spark Session

In [3]:
spark = SparkSession.builder.appName('PySpark Column Ops').getOrCreate()

## Reading the Dataset

In [5]:
df = spark.read.csv('Fish.csv', sep = ',', inferSchema = True, header = True)

## Checking the Imported Dataset

In [6]:
df.show()

+-------+------+-------+-------+-------+-------+------+
|Species|Weight|Length1|Length2|Length3| Height| Width|
+-------+------+-------+-------+-------+-------+------+
|  Bream| 242.0|   23.2|   25.4|   30.0|  11.52|  4.02|
|  Bream| 290.0|   24.0|   26.3|   31.2|  12.48|4.3056|
|  Bream| 340.0|   23.9|   26.5|   31.1|12.3778|4.6961|
|  Bream| 363.0|   26.3|   29.0|   33.5|  12.73|4.4555|
|  Bream| 430.0|   26.5|   29.0|   34.0| 12.444| 5.134|
|  Bream| 450.0|   26.8|   29.7|   34.7|13.6024|4.9274|
|  Bream| 500.0|   26.8|   29.7|   34.5|14.1795|5.2785|
|  Bream| 390.0|   27.6|   30.0|   35.0|  12.67|  4.69|
|  Bream| 450.0|   27.6|   30.0|   35.1|14.0049|4.8438|
|  Bream| 500.0|   28.5|   30.7|   36.2|14.2266|4.9594|
|  Bream| 475.0|   28.4|   31.0|   36.2|14.2628|5.1042|
|  Bream| 500.0|   28.7|   31.0|   36.2|14.3714|4.8146|
|  Bream| 500.0|   29.1|   31.5|   36.4|13.7592| 4.368|
|  Bream| 340.0|   29.5|   32.0|   37.3|13.9129|5.0728|
|  Bream| 600.0|   29.4|   32.0|   37.2|14.9544|5.1708|
|  Bream| 600.0|   29.4|   32.0|   37.2| 15.438|  5.58|
|  Bream| 700.0|   30.4|   33.0|   38.3|14.8604|5.2854|
|  Bream| 700.0|   30.4|   33.0|   38.5| 14.938|5.1975|
|  Bream| 610.0|   30.9|   33.5|   38.6| 15.633|5.1338|
|  Bream| 650.0|   31.0|   33.5|   38.7|14.4738|5.7276|
+-------+------+-------+-------+-------+-------+------+
only showing top 20 rows

## Creating a New Column

In [7]:
df = df.withColumn('Weight in Kg', df.Weight/1000)

## Checking the Updated DataFrame

In [8]:
df.show()

+-------+------+-------+-------+-------+-------+------+------------+
|Species|Weight|Length1|Length2|Length3| Height| Width|Weight in Kg|
+-------+------+-------+-------+-------+-------+------+------------+
|  Bream| 242.0|   23.2|   25.4|   30.0|  11.52|  4.02|       0.242|
|  Bream| 290.0|   24.0|   26.3|   31.2|  12.48|4.3056|        0.29|
|  Bream| 340.0|   23.9|   26.5|   31.1|12.3778|4.6961|        0.34|
|  Bream| 363.0|   26.3|   29.0|   33.5|  12.73|4.4555|       0.363|
|  Bream| 430.0|   26.5|   29.0|   34.0| 12.444| 5.134|        0.43|
|  Bream| 450.0|   26.8|   29.7|   34.7|13.6024|4.9274|        0.45|
|  Bream| 500.0|   26.8|   29.7|   34.5|14.1795|5.2785|         0.5|
|  Bream| 390.0|   27.6|   30.0|   35.0|  12.67|  4.69|        0.39|
|  Bream| 450.0|   27.6|   30.0|   35.1|14.0049|4.8438|        0.45|
|  Bream| 500.0|   28.5|   30.7|   36.2|14.2266|4.9594|         0.5|
|  Bream| 475.0|   28.4|   31.0|   36.2|14.2628|5.1042|       0.475|
|  Bream| 500.0|   28.7|   31.0|   36.2|14.3714|4.8146|         0.5|
|  Bream| 500.0|   29.1|   31.5|   36.4|13.7592| 4.368|         0.5|
|  Bream| 340.0|   29.5|   32.0|   37.3|13.9129|5.0728|        0.34|
|  Bream| 600.0|   29.4|   32.0|   37.2|14.9544|5.1708|         0.6|
|  Bream| 600.0|   29.4|   32.0|   37.2| 15.438|  5.58|         0.6|
|  Bream| 700.0|   30.4|   33.0|   38.3|14.8604|5.2854|         0.7|
|  Bream| 700.0|   30.4|   33.0|   38.5| 14.938|5.1975|         0.7|
|  Bream| 610.0|   30.9|   33.5|   38.6| 15.633|5.1338|        0.61|
|  Bream| 650.0|   31.0|   33.5|   38.7|14.4738|5.7276|        0.65|
+-------+------+-------+-------+-------+-------+------+------------+
only showing top 20 rows

# Renaming an Existing Column in PySpark DataFrame

# Checking the Current PySpark DataFrame

In [9]:
df.show()

+-------+------+-------+-------+-------+-------+------+------------+
|Species|Weight|Length1|Length2|Length3| Height| Width|Weight in Kg|
+-------+------+-------+-------+-------+-------+------+------------+
|  Bream| 242.0|   23.2|   25.4|   30.0|  11.52|  4.02|       0.242|
|  Bream| 290.0|   24.0|   26.3|   31.2|  12.48|4.3056|        0.29|
|  Bream| 340.0|   23.9|   26.5|   31.1|12.3778|4.6961|        0.34|
|  Bream| 363.0|   26.3|   29.0|   33.5|  12.73|4.4555|       0.363|
|  Bream| 430.0|   26.5|   29.0|   34.0| 12.444| 5.134|        0.43|
|  Bream| 450.0|   26.8|   29.7|   34.7|13.6024|4.9274|        0.45|
|  Bream| 500.0|   26.8|   29.7|   34.5|14.1795|5.2785|         0.5|
|  Bream| 390.0|   27.6|   30.0|   35.0|  12.67|  4.69|        0.39|
|  Bream| 450.0|   27.6|   30.0|   35.1|14.0049|4.8438|        0.45|
|  Bream| 500.0|   28.5|   30.7|   36.2|14.2266|4.9594|         0.5|
|  Bream| 475.0|   28.4|   31.0|   36.2|14.2628|5.1042|       0.475|
|  Bream| 500.0|   28.7|   31.0|   36.2|14.3714|4.8146|         0.5|
|  Bream| 500.0|   29.1|   31.5|   36.4|13.7592| 4.368|         0.5|
|  Bream| 340.0|   29.5|   32.0|   37.3|13.9129|5.0728|        0.34|
|  Bream| 600.0|   29.4|   32.0|   37.2|14.9544|5.1708|         0.6|
|  Bream| 600.0|   29.4|   32.0|   37.2| 15.438|  5.58|         0.6|
|  Bream| 700.0|   30.4|   33.0|   38.3|14.8604|5.2854|         0.7|
|  Bream| 700.0|   30.4|   33.0|   38.5| 14.938|5.1975|         0.7|
|  Bream| 610.0|   30.9|   33.5|   38.6| 15.633|5.1338|        0.61|
|  Bream| 650.0|   31.0|   33.5|   38.7|14.4738|5.7276|        0.65|
+-------+------+-------+-------+-------+-------+------+------------+
only showing top 20 rows

## Renaming the Column

In [17]:
df = df.withColumnRenamed("Weight in Kg", "Weight in Kilograms")

## Checking the updated PySpark DataFrame

In [11]:
df.show()

+-------+------+-------+-------+-------+-------+------+-------------------+
|Species|Weight|Length1|Length2|Length3| Height| Width|Weight in Kilograms|
+-------+------+-------+-------+-------+-------+------+-------------------+
|  Bream| 242.0|   23.2|   25.4|   30.0|  11.52|  4.02|              0.242|
|  Bream| 290.0|   24.0|   26.3|   31.2|  12.48|4.3056|               0.29|
|  Bream| 340.0|   23.9|   26.5|   31.1|12.3778|4.6961|               0.34|
|  Bream| 363.0|   26.3|   29.0|   33.5|  12.73|4.4555|              0.363|
|  Bream| 430.0|   26.5|   29.0|   34.0| 12.444| 5.134|               0.43|
|  Bream| 450.0|   26.8|   29.7|   34.7|13.6024|4.9274|               0.45|
|  Bream| 500.0|   26.8|   29.7|   34.5|14.1795|5.2785|                0.5|
|  Bream| 390.0|   27.6|   30.0|   35.0|  12.67|  4.69|               0.39|
|  Bream| 450.0|   27.6|   30.0|   35.1|14.0049|4.8438|               0.45|
|  Bream| 500.0|   28.5|   30.7|   36.2|14.2266|4.9594|                0.5|
|  Bream| 475.0|   28.4|   31.0|   36.2|14.2628|5.1042|              0.475|
|  Bream| 500.0|   28.7|   31.0|   36.2|14.3714|4.8146|                0.5|
|  Bream| 500.0|   29.1|   31.5|   36.4|13.7592| 4.368|                0.5|
|  Bream| 340.0|   29.5|   32.0|   37.3|13.9129|5.0728|               0.34|
|  Bream| 600.0|   29.4|   32.0|   37.2|14.9544|5.1708|                0.6|
|  Bream| 600.0|   29.4|   32.0|   37.2| 15.438|  5.58|                0.6|
|  Bream| 700.0|   30.4|   33.0|   38.3|14.8604|5.2854|                0.7|
|  Bream| 700.0|   30.4|   33.0|   38.5| 14.938|5.1975|                0.7|
|  Bream| 610.0|   30.9|   33.5|   38.6| 15.633|5.1338|               0.61|
|  Bream| 650.0|   31.0|   33.5|   38.7|14.4738|5.7276|               0.65|
+-------+------+-------+-------+-------+-------+------+-------------------+
only showing top 20 rows

# Creating a Column Alias in PySpark DataFrame

In [12]:
df.show()

+-------+------+-------+-------+-------+-------+------+-------------------+
|Species|Weight|Length1|Length2|Length3| Height| Width|Weight in Kilograms|
+-------+------+-------+-------+-------+-------+------+-------------------+
|  Bream| 242.0|   23.2|   25.4|   30.0|  11.52|  4.02|              0.242|
|  Bream| 290.0|   24.0|   26.3|   31.2|  12.48|4.3056|               0.29|
|  Bream| 340.0|   23.9|   26.5|   31.1|12.3778|4.6961|               0.34|
|  Bream| 363.0|   26.3|   29.0|   33.5|  12.73|4.4555|              0.363|
|  Bream| 430.0|   26.5|   29.0|   34.0| 12.444| 5.134|               0.43|
|  Bream| 450.0|   26.8|   29.7|   34.7|13.6024|4.9274|               0.45|
|  Bream| 500.0|   26.8|   29.7|   34.5|14.1795|5.2785|                0.5|
|  Bream| 390.0|   27.6|   30.0|   35.0|  12.67|  4.69|               0.39|
|  Bream| 450.0|   27.6|   30.0|   35.1|14.0049|4.8438|               0.45|
|  Bream| 500.0|   28.5|   30.7|   36.2|14.2266|4.9594|                0.5|
|  Bream| 475.0|   28.4|   31.0|   36.2|14.2628|5.1042|              0.475|
|  Bream| 500.0|   28.7|   31.0|   36.2|14.3714|4.8146|                0.5|
|  Bream| 500.0|   29.1|   31.5|   36.4|13.7592| 4.368|                0.5|
|  Bream| 340.0|   29.5|   32.0|   37.3|13.9129|5.0728|               0.34|
|  Bream| 600.0|   29.4|   32.0|   37.2|14.9544|5.1708|                0.6|
|  Bream| 600.0|   29.4|   32.0|   37.2| 15.438|  5.58|                0.6|
|  Bream| 700.0|   30.4|   33.0|   38.3|14.8604|5.2854|                0.7|
|  Bream| 700.0|   30.4|   33.0|   38.5| 14.938|5.1975|                0.7|
|  Bream| 610.0|   30.9|   33.5|   38.6| 15.633|5.1338|               0.61|
|  Bream| 650.0|   31.0|   33.5|   38.7|14.4738|5.7276|               0.65|
+-------+------+-------+-------+-------+-------+------+-------------------+
only showing top 20 rows

## Creating Column Column Alias

In [16]:
df.select(df['Weight in Kilograms'].alias("Kilograms")).show()

+---------+
|Kilograms|
+---------+
|    0.242|
|     0.29|
|     0.34|
|    0.363|
|     0.43|
|     0.45|
|      0.5|
|     0.39|
|     0.45|
|      0.5|
|    0.475|
|      0.5|
|      0.5|
|     0.34|
|      0.6|
|      0.6|
|      0.7|
|      0.7|
|     0.61|
|     0.65|
+---------+
only showing top 20 rows